h1.pageTitle {
  text-align: center;
  background-color: lightgrey;
  margin: 0;
  Height: auto;
}

h3 {
  text-decoration:underline;  
}

div {
  margin-left:200px;
  height: 100%;
}

span {
  margin-left: 20px;
}

.imageShift {
  margin-left: 160px;
}

ul.nav {
  list-style-type: none;
  width: 200px;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lightgrey;
  overflow: auto;
  position: fixed;
}

li a {
  display: block;
  width: 200px;
}

li a.active {
  color:white;
  background-color:red;
}

li a:hover:not(.active) {
  color:white;
  background-color:green;
}

img#image {
  margin: 0 0 10px 10px;
  float: left;
  overflow: auto;
}
